<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10002" id="co.swrl.List2" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Swrl List 2</name>
    <description>
        Remember and recommend what you should watch, read or listen to
    </description>
    <author email="kylejharrison@gmail.com" href="https://swrl-list.herokuapp.com/">
        Kyle Harrison
    </author>
    <platform name="android">
        <icon src="res/icon/icon.png" />
    </platform>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-googleplus" spec="https://github.com/EddyVerbruggen/cordova-plugin-googleplus">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.443237991407-ghpr7lu5b3otonkmc9tdmjdp9ic42e08" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="443237991407-lf3hnmvsfbntfc0ui1ds2vgufbah41so.apps.googleusercontent.com" />
        <variable name="PLAY_SERVICES_VERSION" value="11.8.0" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
