<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10004" id="co.swrl.List2" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Swrl List 2</name>
    <description>
        Remember and recommend what you should watch, read or listen to
    </description>
    <author email="kylejharrison@gmail.com" href="https://swrl-list.herokuapp.com/">
        Kyle Harrison
    </author>
    <platform name="android">
        <icon src="res/icon/icon.png" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-webpack" spec="0.0.2" />
    <plugin name="cordova-plugin-firebaseui-auth" spec="^1.0.2">
        <variable name="FACEBOOK_APPLICATION_ID" value="893395944039576" />
        <variable name="FACEBOOK_DISPLAY_NAME" value="Swrl List 2" />
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.443237991407-vjp78u87itoi9pf11tvcfughho2n8ck1" />
        <variable name="COLOR_PRIMARY" value="#ffffff" />
        <variable name="COLOR_DARK_PRIMARY" value="#555555" />
        <variable name="COLOR_LIGHT_PRIMARY" value="#aaaaaa" />
        <variable name="COLOR_ACCENT" value="#7C4DFF" />
        <variable name="COLOR_SECONDARY" value="#FFC107" />
        <variable name="COLOR_CONTROL" value="#ffffff" />
        <variable name="COLOR_BACKGROUND" value="#000000" />
        <variable name="ANDROID_FIREBASE_CORE_VERSION" value="16.0.4" />
        <variable name="ANDROID_FIREBASE_AUTH_VERSION" value="16.0.4" />
        <variable name="ANDROID_PLAY_SERVICES_AUTH_VERSION" value="16.0.1" />
        <variable name="ANDROID_FIREBASEUI_VERSION" value="4.2.1" />
        <variable name="ANDROID_FACEBOOK_SDK_VERSION" value="4.33.0" />
    </plugin>
    <plugin name="cordova-plugin-android-fragmentactivity" spec="0.0.9" />
    <plugin name="cordova-support-google-services" spec="1.2.1" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
