@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "_variables.css";

html, body {
    overflow-x: hidden;
    height: 100%;
}

.hidden {
    display: none!important;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #222222
}

.header {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FF2E63;
    position: fixed;
    height: 56px;
    overflow: hidden;
    z-index: 10;
}

.header .title {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    color: #fff;
}

.header .title-details {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.title img {
    height: 40px;
    width: 40px;
    margin-top: 8px;
}

.title h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 7vw;
}

.login {
    margin: 18px;
    margin-right: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
}

.header .profile-photo {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 8px;
    margin-right: 12px;
    z-index: 15;
}

#login {
    cursor: pointer;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 56px;
}

.main .logo {
    max-height: 48px;
    width: 48px;
    vertical-align: middle;
}

.main .icon {
    max-height: 72px;
    width: 72px;
    vertical-align: middle;
}

.main .sections {
    position: absolute;
    bottom: 0;
    top: 56px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main .title {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 12px;
    color: #fff
}

.main .section {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
}

.main .section-detail {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: auto;
    margin-left: 24px;
    font-size: 40px;
}

.main .section.watch {
    background: #3EB283;
}

.main .section.read {
    background: #F6A900;
}

.main .section.listen {
    background: #b042f4;
}

.main .section.other {
    background: #71A8D6;
}

.main h1, .main h2 {
    margin: 0px;
    margin-left: 12px;
}

.main h1 {
    line-height: 48px;
}

.main h2 {
    line-height: 72px;
}

@media only screen and (min-width: 1025px) {
    .title h1 {
        font-size: 4vw;
    }
    .main .sections {
        top: 68px;
        bottom: 12px;
    }
    .main .section {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
        padding-left: 0px;
    }
    .main .section-detail {
        margin-left: 176px;
    }
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 256px;
    margin-top: 56px;
    transform: translateX(-256px);
    transition: transform 250ms ease-in-out;
    background: #FF2E63;
    z-index: 10;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#openSidebarMenu:checked~#sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu:checked~* #fade {
    display: block;
}

#fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 5;
    opacity: 0.5;
    display: none;
}

#openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 16px;
    left: 12px;
    height: 24px;
    width: 24px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -12px;
}