html, body {
    overflow-x: hidden;
    height: 100%;
}

input, p {
    font-size: 16px;
}

.hidden {
    display: none!important;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #222222
}

.header {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FF2E63;
    position: fixed;
    height: 56px;
    overflow: hidden;
    z-index: 10;
}

.header .title {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    color: #fff;
}

.header .title-details {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.title img {
    height: 40px;
    width: 40px;
    margin-top: 8px;
}

.title h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 7vw;
}

.login {
    margin: 18px;
    margin-right: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
}

.header .profile-photo {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 8px;
    margin-right: 12px;
    z-index: 15;
}

#login {
    cursor: pointer;
}

#menuSwipeable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    z-index: 1;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 56px;
}

.main .logo {
    max-height: 48px;
    width: 48px;
    vertical-align: middle;
}

.main .icon {
    max-height: 72px;
    width: 72px;
    vertical-align: middle;
    transition: all 0.2s;
}

.selected .icon {
    transition: all 0.2s;
    max-height: 20px;
    width: 20px;
}

.main .sections {
    position: absolute;
    bottom: 0;
    top: 56px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main .title {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 12px;
    color: #fff
}

.main .section {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

.selected.section {
    transition: all 0.5s;
    cursor: default;
    height: 32px;
}

.section .close {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 2;
}

.main .section-detail {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: auto;
    margin-left: 24px;
    font-size: 40px;
}

.selected .section-detail {
    font-size: 20px;
    margin-left: auto;
}

.main .section.watch {
    background: #3EB283;
}

.main .section.read {
    background: #F6A900;
}

.main .section.listen {
    background: #b042f4;
}

.main .section.other {
    background: #71A8D6;
}

.main h1, .main h2 {
    margin: 0px;
    margin-left: 12px;
}

.main h1 {
    line-height: 48px;
}

.main h2 {
    line-height: 72px;
    transition: all 0.2s;
}

.selected h2 {
    transition: all 0.2s;
    line-height: 24px;
}

.tabs {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    z-index: 4;
}

.tabs div {
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer;
}

.tabs div.selected {
    transition: 0.2s;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #FF2E63;
}

#swrlSearch {
    z-index: 2;
    position: absolute;
    top: 136px;
    left: 0px;
    right: 0px;
    height: 24px;
    margin: auto;
    width: calc(100% - 8px);
    line-height: 24px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search.png');
    background-size: 16px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 28px;
}

#swrlList, #searchResults {
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
}

#searchResults {
    top: 158px
}

.swrlsContainer {
    overflow: scroll;
}

.swrl {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    margin: 12px 4px 12px 4px;
}

.swrlImage {
    height: 64px;
    width: 48px;
    margin: 1px;
}

.swrlDetails {
    height: 64px;
    overflow: hidden;
}

.swrlTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swrlType {
    font-size: 12px;
    padding-left: 4px;
    margin-top: 12px;
}

.statusMessage {
    margin: auto 56px;
    text-align: center;
}

@media only screen and (min-width: 1025px) {
    .title h1 {
        font-size: 4vw;
    }
    .main .sections {
        top: 68px;
        bottom: 12px;
    }
    #centre {
        top: 112px;
    }
    .tabs {
        top: 120px;
    }
    #swrlSearch {
        top: 152px;
    }
    #swrlList {
        top: 156px;
    }
    #searchResults {
        top: 180px;
    }
    .main .section {
        padding-left: 0px;
    }
    .main .section, #centre, .tabs, #swrlSearch, .swrlsContainer {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
    }
    .section .close {
        position: absolute;
        left: 50%;
        margin-left: -312px;
    }
    .main .section-detail {
        margin-left: 176px;
    }
    .main .selected .section-detail {
        margin-left: 256px;
    }
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 256px;
    margin-top: 56px;
    transform: translateX(-256px);
    transition: transform 250ms ease-in-out;
    background: #FF2E63;
    z-index: 10;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#openSidebarMenu:checked~#sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu:checked~* #fade {
    display: block;
}

#fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 5;
    opacity: 0.5;
    display: none;
}

#openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 16px;
    left: 12px;
    height: 24px;
    width: 24px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -12px;
}